<!DOCTYPE html>
<html>
    <head>
        <!--Styles-->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        <section>
            <img    src="https://static.wixstatic.com/media/ec77d7_5799b3f0f769492981b080166a4cfe26~mv2.png/v1/fill/w_343,h_346,al_c,usm_0.66_1.00_0.01/ec77d7_5799b3f0f769492981b080166a4cfe26~mv2.png" 
                    alt=""
                    class='center'
                    style='display: block; margin-left: auto; margin-right: auto; width: 300px;'>
        </section>
        <section>
            This is the body
        </section>
    </body>
</html>