<div>
    <div class="container">
        <!--Location information-->
        <div class="row">
            
            <!--Year-->
            <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
                <h2 class='pull-left'>{{vm.year}}</h2>
            </div>
            
            <!--Info-->
            <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4' style='text-align: center'>
                <h2>{{vm.start | date:'shortDate'}}
                    -
                    {{vm.end | date:'shortDate'}}
                </h2>
            </div>
            
            <!--Week-->
            <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
                <h2 class='pull-right'>Week {{vm.week}}</h2>
            </div>
            
            
            <div class="clearfix"></div>
            <button class="btn btn-primary pull-left" ng-click='vm.changeWeek(vm.week, -1)'>Prev</button>
            
            <button class="btn btn-primary pull-right" ng-click='vm.changeWeek(vm.week, 1)'>Next</button>
        </div>

         <!--Net -->
        <div class="row">
            <h3>NET</h3>

        </div>
        
        <!--Income -->
        <div class="row">
            <h3>INCOME</h3>
            <div class="container table">

                <!--Headers-->
                <div    class="row" 
                        style='border-bottom: 1px solid gray; padding-bottom: 10px;'>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><strong>CATEGORY</strong></div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><strong>PROJECTION</strong></div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><strong>ACTUAL</strong></div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><strong>DIFFERENCE</strong></div>
                </div>

                <!--ROWS-->
                <div    class="row" 
                        style='border-bottom: 1px solid gray; margin-top: 10px; padding-bottom: 10px;'
                        ng-repeat='(key, value) in vm.inflows'>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{key}}</div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ 0 | currency:"$":2}}</div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ 0 | currency:"$":2}}</div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ 0 | currency:"$":2}}</div>
                </div>
            </div>
            
        </div>

        <!--Expenses-->
        <div class="row">
            <h3>EXPENSES</h3>
            <ul>
                <li ng-repeat='channel in vm.outflows'>
                    {{channel}}
                </li>
            </ul>
        </div>
    </div>

</div>