<div >
    Shopping cart page
    <button class="btn btn-success" ng-click='vm.open()'>Open</button>
    <div class="modal-demo">
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title" style='display:inline-block'>IN YOUR CART</h3>
                    <button type='button' class='close' data-dismiss="dialog" style='display:inline-block' ng-click="vm.cancel()">
                            <span aria-hidden="true">&times; Close</span>
                            <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    <ul>
                        <li ng-repeat="item in vm.items">
                            <a href="#" ng-click="$event.preventDefault(); vm.selected.item = item">{{ item }}</a>
                        </li>
                    </ul>
                    Selected: <b>{{ vm.selected.item }}</b>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="vm.ok()">FINISH CHECKOUT</button>
                </div>
            </script>
    </div>
</div>
