<div>
    <div class="container">

        <!-- Header -->
        <h1 class='pull-left'>Daily Recap</h1>
        <h3 class="pull-right" style='color:gray'>
            <!--Market-->
            <span style='text-align: right;' class='pull-right'>{{data.CME_name}}</span>
            <br>
            <!--Date-->
            <span style='text-align: right;' class='pull-right'>{{data.cme_date | date: "shortDate"}}</span>
        </h3>
        <div class="clearfix"></div>
        
        <!--Sales-->
        <div>
            <h3 class=''><strong><u>Sales</u></strong></h3>

            <ul style='list-style: none; font-size: 1.25em;'>
                <li><strong>Gross:</strong> {{vm.pullClass(vm.accts, '-LfoYIVkKqCYyw-cTc5l') / 100 | currency : "$" : 2}}</li>
                <li><strong>Discounts:</strong> {{vm.pullClass(vm.accts, '-LfoYLCc9nwHp-M9gONA') / 100 | currency : "$" : 2}}</li>
                <li><strong>Tips:</strong> {{vm.pullClass(vm.accts, '-LgfD3E5LcQeLRg1EDY-') / 100 | currency : "$" : 2}}</li>
                <li><strong>Refunds:</strong> </li>
                <li><strong>Net:</strong> </li>
            </ul>
        </div>


        <!--Manufacturing-->
        <div>
            <h3 class=''><strong><u>Manufacturing</u></strong></h3>
            <div class="container" >
                <div class="row">

                    <!--Cooking-->
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h4 style='text-align: center;'>Cooking</h4>
                        <table class="table">
                            <tr>
                                <th class="text-center">Item</th>
                                <th class="text-center">Used</th>
                                <th class="text-center">Produced</th>
                            </tr>
                            <tr ng-repeat='product in vm.cookingProducts'>
                                <td>{{product.class}}</td>
                                <td></td>
                                <td style='text-align: center'>{{vm.accts[product.id].balance * product.multiplier}} {{product.unit}}</td>
                            </tr>
                        </table>
                    </div>

                    <!--Packaging-->
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h4 style='text-align: center;'>Packaging</h4>
                        <table class="table">
                            <tr>
                                <th class="text-center">Item</th>
                                <th class="text-center">Used</th>
                                <th class="text-center">Produced</th>
                            </tr>
                            <tr ng-repeat='product in vm.mfgProducts'>
                                <td>{{product.class}}</td>
                                <td style='text-align: center'>{{vm.accts[product.id].balance * product.multiplier | number: 2}} {{product.unit}}</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>

                </div>

                <h4 style='text-align: center;'>Transactions</h4>
            </div>
        </div>
        

        <!--Cooked Goods-->
        <div>
            <h3 class=''><strong><u>Cooked Goods</u></strong></h3>
            <button class="btn btn-primary">Add Starting Values</button>
            <button class="btn btn-primary">Add Ending Values</button>
            <div class="table" style='list-style: none;'>
                <div class='row'>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style='text-align: center;'><strong>Acct</strong></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style='text-align: center;'><strong>Starting</strong> </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style='text-align: center;'><strong>Units</strong> </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style='text-align: center;'><strong>Δ</strong> </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style='text-align: center;'><strong>Expctd</strong> </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style='text-align: center;'><strong>Actual</strong> </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style='text-align: center;'><strong>Diff</strong> </div>
                </div>
                <div    class='row' 
                        ng-repeat="acct in vm.accts"
                        style='border-top: 1px solid gray'
                        ng-if='acct.category == "Cooked Goods"'>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><a href="" ng-click='acct.graphVisible=true'>{{acct.parent_acct}} {{acct.name}}</a></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style='text-align: center;'>{{acct.units}}</div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style='text-align: center;'>{{acct.balance}}</div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                    <br>
                    <div    class=''
                            ng-if='acct.graphVisible'>
                                <line-chart-directive data="vm.processLineAccts(acct)"></line-chart-directive>
                                <a href="" ng-click='acct.graphVisible=false'>close</a>
                    </div>
                </div><br>
            </div>
            <table class="table">
                <tr>
                    <th>Acct</th>
                    <th>Starting</th>
                    <th>Units</th>
                    <th>Change</th>
                    <th>Expected</th>
                    <th>Actual</th>
                    <th>Difference</th>
                </tr>
                <tr     ng-repeat="acct in vm.accts" 
                        ng-if='acct.category == "Cooked Goods"'
                        >
                    <td><a href="" ng-click=''>{{acct.parent_acct}} {{acct.name}}</a></td>
                    <td><input type="number"></td>
                    <td style='text-align: center;'>{{acct.units}}</td>
                    <td style='text-align: center;'>{{acct.balance}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <!--Staged Materials-->
        <div>
            <h3 class=''><strong><u>Staged Materials</u></strong></h3>
            <button class="btn btn-primary">Add Starting Values</button>
            <button class="btn btn-primary">Add Ending Values</button>
            <table class="table">
                <tr>
                    <th>Acct</th>
                    <th>Starting</th>
                    <th>Units</th>
                    <th>Change</th>
                    <th>Expected</th>
                    <th>Actual</th>
                    <th>Difference</th>
                </tr>
                <tr     ng-repeat="acct in vm.accts" 
                        ng-if='acct.category == "Staged Materials"'
                        ng-click='vm.rowClick(acct)'>
                    <td>{{acct.parent_acct}} {{acct.name}}</td>
                    <td><input type="number"></td>
                    <td style='text-align: center;'>{{acct.units}}</td>
                    <td style='text-align: center;'>{{acct.balance}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <!--Team-->
        <div>
            <h3 class=''><strong><u>Team</u></strong></h3>
            <button class="btn btn-primary">Add Team Member</button>
        </div>
        

    </div>
</div>