<div>
    <div class="container">

        <!--Header row-->
        <div class="row">
            <h2>
                <a ng-href="#/admin/data/channel/{{vm.instance.channel_id}}">{{vm.instance.channel_name}}</a>
                ({{vm.instance.season_name}} - {{vm.instance.instance}} - {{vm.instance.opens | date: "fullDate"}})
            </h2>
        </div>

        <!--Overview-->
        <div class="row" style='margin-bottom: 30px;'>
            
            <!--Transactions-->
            <div class="row" style='background-color:lightcyan'>
                <h3 ng-click='vm.state.txsVisible=!vm.state.txsVisible'>1. Transactions & Acconting Tool</h3>
                <admin-instance-txs-directive   ng-show='vm.state.txsVisible'
                                                instance='vm.instance'
                                                update='vm.updateSummary()'>
                </admin-instance-txs-directive>
            </div>

            <!--Shifts-->
            <div class="row">
                <h3 ng-click='vm.state.shiftsVisible=!vm.state.shiftsVisible'>2. Shifts Selection Tool</h3>
                <admin-instance-shifts-directive    ng-show='vm.state.shiftsVisible'
                                                    instance='vm.instance'
                                                    shifts='vm.shifts'
                                                    save-shifts='vm.saveShifts(data)'
                                                    update='vm.updateSummary()'>
                </admin-instance-shifts-directive>
            </div>

            <!--Reports: Retail / MFG-->
            <div class="row">
                <admin-instance-reports-directive instance='vm.instance'>

                </admin-instance-reports-directive>
            </div>        
        
        </div>
        <!--Forecast-->
        <!--<div class="row" style='background-color:lightgreen'>
            <h3 ng-click='vm.state.forecastVisible=!vm.state.forecastVisible'>1. Forecast Tool</h3>
            
        </div>-->        
 
    </div>

</div>