<div>

    <!-- PAGES CONTENT-->
    <div class="page-content">

        <section id='hero' class="center">
            THIS IS THE HERO IMAGE SECTION
            <!--
            TRY TO GET THIS SLIDER TO WORK LATER    
            <div uib-carousel active='active' interval='5000' >
                <div uib-slide>
                        <div id="slide01" class="carousel-caption">
                                This is slide 1 
                        </div>
                </div>
                <div uib-slide>
                    <div id="slide01" class="carousel-caption">
                            This is slide 2
                    </div>
                    
                </div>
            </div>-->
        </section>

        <!-- QUICKLINK TRAFFIC BAR -->
        <section class="section-beige">
            THIS IS THE QUICK TRAFFIC SECTION
        </section>

        <!-- WHAT WE SELL BAR-->
        <section class="section-black">
            This is the what we sell section
        </section>

        <!-- HOW WE SELL BAR-->
        <section class="section-beige">
            This is the how we sell it section
        </section>

        <!-- REVIEWS SLIDER BAR-->
        <section class="section-black">
            These are reveiws about our products
        </section>

        <!-- WHERE WE SELL BAR-->
        <section class="section-beige">
            <div class="text-center space-top">
                <h2>Where you can find us</h2>
                <h3>We work with a wide variety of organizers to reach you, our end customers, some of them include...</h3>
            </div>
            <ul class="featured-set list-unstyled row">
                <li class="has-icon">
                    <svg class="icon fill-beige"></svg>
                    <h4 class="dark-text">Beaverton Farmers Market</h4>
                    <p>It's one of the largest in Oregon</p>
                </li>
            </ul>
        </section>

        <!-- UP TO THE MINUTE BAR -->
        <section class="section-black"></section>
    </div>



</div>