<div>

    <!-- HEADER -->
    <header id="header">
        <nav id='navigation' role='navigation'>
            <span class="mobil-nav"></span>
            <div class="wrapper-full">
                <div id='logo'>
                    <a href="https://www.awesweet.com/home">Awe Sweet</a>
                </div>
                <div class="nav-wrapper">
                    <ul class="main-nav">
                        <li class="has-dropdown">
                            <a href="#/products">Products</a>
                        </li>
                        <li class="has-dropdown">
                            <a href="#/pricing">Pricing</a>
                        </li>
                        <li>
                            <a href="#/story">Our Story</a>
                        </li>
                        <li>
                            <a href="#channels">Locations</a>
                        </li>
                        <li>
                            <a href="#/support">Support</a>
                        </li>
                        <li>
                            <a href="#">More</a>
                        </li>
                    </ul>
                    <ul class="tool-nav">
                        <li>
                            <a href="https://www.awesweet.com/home">Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
            <section id='hero' class="center">
                <div uib-carousel active='active' interval='5000' >
                    <div uib-slide>
                            <div class="carousel-caption">
                                    This is slide 1 
                            </div>
                    </div>
                    <div uib-slide>
                        <div class="carousel-caption">
                                This is slide 2
                        </div>
                        
                    </div>
                </div>
            </section>
        </nav>
    </header>

    <!-- PAGES CONTENT-->
    <div class="page-content">

        <!-- QUICKLINK TRAFFIC BAR -->
        <section class="section-beige"></section>

        <!-- WHAT WE SELL BAR-->
        <section class="section-black"></section>

        <!-- HOW WE SELL BAR-->
        <section class="section-beige"></section>

        <!-- REVIEWS SLIDER BAR-->
        <section class="section-black"></section>

        <!-- WHERE WE SELL BAR-->
        <section class="section-beige">
            <div class="text-center space-top">
                <h2>Where you can find us</h2>
                <h3>We work with a wide variety of organizers to reach you, our end customers, some of them include...</h3>
            </div>
            <ul class="featured-set list-unstyled row">
                <li class="has-icon">
                    <svg class="icon fill-beige"></svg>
                    <h4 class="dark-text">Beaverton Farmers Market</h4>
                    <p>It's one of the largest in Oregon</p>
                </li>
            </ul>
        </section>

        <!-- UP TO THE MINUTE BAR -->
        <section class="section-black"></section>
    </div>

    <!-- FOOTER -->
    <footer id="awesweet-footer">
        <div class="wrapper">
            <div class="col awesweet-footer-links">
                <nav class="col">
                    <h4>Products</h4>
                    <ul>
                        <li>Swalty Nuts</li>
                        <li>Davory Nuts</li>
                        <li>Cinnamon Nuts</li>
                    </ul>
                </nav>
                <nav class="col">
                    <h4>Channels</h4>
                    <ul>
                        <li>Farmers Markets</li>
                        <li>Events</li>
                        <li>Sports</li>
                        <li>Retail Partners</li>
                        <li>Education Partners</li>
                        <li>Corporate Partners</li>
                        <li>Our Retail Locations</li>
                    </ul>
                </nav>
                <nav class="col">
                    <h4>Reviews & Press</h4>
                    <ul>
                        <li>Customer Reviews</li>
                        <li>Articles</li>
                    </ul>
                </nav>
                <nav class="col">
                    <h4>About Us</h4>
                    <ul>
                        <li>About Us</li>
                        <li>What is Awe Sweet</li>
                        <li>Jobs</li>
                        <li>Partners</li>
                    </ul>
                </nav>
                <nav class="col">
                    <h4>Support</h4>
                    <ul>
                        <li>Help Center</li>
                        <li>Contact Us</li>
                    </ul>
                </nav>
            </div>
            <div class="col awesweet-footer-social">
                <h3>Subscribe to our mailing list</h3>
                <ul class="social-list">
                    <li>
                        <a class='awesweet-footer-icon-facebook' href="https://www.facebook.com/Awesweet" title="Awesweet's Facebook Page">Facebook</a>
                    </li>
                    <li>
                        <a class='awesweet-footer-icon-instagram' href="https://instagram.com/awesweet/" title="Awesweet's Instagram">Instagram</a>
                    </li>
                    <li>
                        <a class='awesweet-footer-icon-instagram' href="https://twitter.com/awesweet/" title="Awesweet's Twitter">Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tertiary">
            <div class="wrapper">
                <div class="col"></div>
                <div class="col">
                    <ul>
                        <li>
                            <a href="https://www.awesweet.com/home">AweSweet.com</a>
                        </li>
                        <li>
                            <a href="https://www.awesweet.com/policy/terms_of_service">Terms of Service</a>
                        </li>
                        <li>
                            <a href="https://www.awesweet.com/company/privacy">Privacy</a>
                        </li>
                        <li>
                            <a href="https://www.awesweet.com/company/privacy">Cookies</a>
                        </li>
                        <li class="copywrite">
                            © 2019 Ah-nuts, LLC
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>