<div>
<div class="container">
    <!--EQUIPMENT CHECK LISTS-->
    <div ng-if='vm.listType == "equipment"' id='checklist'>
        <h1>Equipment Checklist</h1>
        <h4>Kit:</h4>
        <h4>Assigned Team Member:</h4>
        <h4>Ship Date:</h4>
        <h4>Returning Date:</h4>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope='col'>Item</th>
                    <th scope='col'>Confirmed</th>
                    <th scope='col'>By</th>
                    <th scope='col'>Date/Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <!-- Item Confirmed or Lacking-->
                    <td>
                        <span ng-if='true' class='glyphicon glyphicon-remove-sign' style='color:red'></span>
                        <span ng-if='true' class='glyphicon glyphicon-ok-sign' style='color:green'></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--STAGING CHECK LIST-->
    <div ng-if='vm.listType == "staging"'>
        <h1>Staging Checklist</h1>
    </div>
</div>
</div>