<div>
    <div class="container">
   
        <!--Filters-->
        <div class="row">
            <h4>Filters</h4>

            <!--Date/Times-->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h5>Date/Time</h5>
                <div class="form-group">
                    <!--Date-->
                    <input type="date" class='form-control' ng-model='vm.formattedDateTime.date'>
                    <!--Start-->
                    <input type="text" list='hrSelector' class='form-control' style='display: inline; width: 30%' ng-model='vm.formattedDateTime.start.h' >:
                    <input type="text" class='form-control' style='display: inline; width: 30%'  ng-model='vm.formattedDateTime.start.m' >
                    <select name="" id="" class='form-control' style='display: inline; width: 30%'>
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>
                    <!--End-->
                    <input type="text" list='hrSelector' class='form-control' style='display: inline; width: 30%' ng-model='vm.formattedDateTime.end.h' >:
                    <input type="text" class='form-control' style='display: inline; width: 30%'  ng-model='vm.formattedDateTime.end.m' >
                    <select name="" id="" class='form-control' style='display: inline; width: 30%'>
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>
                </div>
            </div>

            <!--Employees-->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h5>Employees</h5>
                <ul style='list-style: none; padding-left: 0px;'>
                    <li ng-repeat="(key, value) in vm.activeEmployees track by $index" ng-show='true'>
                        <input  type="checkbox" 
                                name='empFilter' 
                                ng-model='value.active' 
                                ng-value='key' 
                                class='' 
                                id='anEmployee'
                                ng-change='vm.reFilter()'>
                        <label for="anEmployee">{{value.first_name}} {{value.last_name}}</label>
                        <ul>
                            <li ng-repeat='(key, value) in value.devices track by $index'>
                                {{key}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!--Devices-->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h5>Devices</h5>
                <ul style='list-style: none;'>
                    <li ng-repeat="(key, value) in vm.activeDevices track by $index">
                        <input  type="checkbox" 
                                name='devFilter' 
                                ng-model='value.active' 
                                ng-value='key'
                                id='aDevice'
                                ng-change='vm.reFilter()'> 
                        <label for="aDevice">{{value.name}}</label>
                    </li>
                </ul>
            </div>

            <!--Load/Filter-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button class="btn btn-primary col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    Load Transactions
                </button>
                <button class="btn btn-success col-xs-6 col-sm-6 col-md-6 col-lg-6"
                        ng-click='vm.saveSummary()'>
                    Save Summary
                </button>
            </div>  
        </div>

        <!--Summary-->
        <div class="row">
            <h4>Summary</h4>
            <input  type="checkbox" 
                    name='skipped' 
                    ng-model='vm.txsSummary.skipped'
                    class='' 
                    id='instanceSkipped'
                    ng-change='vm.markSkipped()'>
            <label for="instanceSkipped">Event Skipped?</label>
        </div>
        <!--Summary Table-->  
        <!--Header row-->
        <div class="row" style='background-color: lightgray;'>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Sales</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Reported</div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Adjustment</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Actual</div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Proj</div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Diff</div>
        </div>

        <!--TD-->
        <div class="row" ng-repeat='line in vm.txsSummary.sales track by $index'>
            <!--Name-->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <strong ng-if='line.bold'>
                    {{line.name}}
                </strong>
                <span ng-if='!line.bold'>
                    {{line.name}}
                </span>
            </div>
            <!--Reported Value-->
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <strong ng-if='line.bold'>
                    {{line.reported / 100 | currency: "$"}}
                </strong>
                <span ng-if='!line.bold'>
                    {{line.reported / 100 | currency: "$"}}
                </span>
            </div>

            <!--Adjustment Value-->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style='padding-left: 0px; padding-right: 0px;'>
                <span class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show='$index == 0'>$</span>
                <input  type="text" 
                        class="col-xs-5 col-sm-5 col-md-5 col-lg-5" 
                        style='padding-left: 0px; padding-right: 0px;'
                        ng-model='line.adjustment'
                        ng-blur='vm.adjustmentUpdate("sales", $index)'
                        ng-show='$index == 0'>
                <span ng-hide='$index == 0 || $index == 1 || $index == 2 || $index == 4'>{{line.adjustment | currency:"$"}}</span>
            </div>

            <!--Actual Value-->
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <strong ng-if='line.bold'>
                    {{line.actual / 100 | currency: "$"}}
                </strong>
                <span ng-if='!line.bold'>
                    {{line.actual / 100 | currency: "$"}}
                </span>
            </div>

            <!--Forecasted Value-->
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <strong ng-if='line.bold'>
                    {{line.forecast / 100 | currency: "$"}}
                </strong>
                <span ng-if='!line.bold'>
                    {{line.forecast / 100 | currency: "$"}}
                </span>                
            </div>

            <!--Difference Value-->
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <strong ng-if='line.bold'>
                    {{line.difference | number: 2}}%
                </strong>
                <span ng-if='!line.bold'>
                    {{line.difference | number: 2}}%
                </span>                    
            </div>
        </div>

        <!--Payments-->
        <div class="row" style='background-color: lightgray;'>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Payments</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Reported</div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Adjustment</div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Actual</div>
        </div>

        <!--TD-->
        <div class="row" ng-repeat='line in vm.txsSummary.payments track by $index'>
            <!--Name-->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <strong ng-if='line.bold'>
                    {{line.name}}
                </strong>
                <span ng-if='!line.bold'>
                    {{line.name}}
                </span>
            </div>

            <!--Reported-->
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <strong ng-if='line.bold' >
                    {{line.reported / 100 | currency:"$"}}
                </strong>
                <span ng-if='!line.bold'>
                    {{line.reported / 100 | currency:"$"}}
                </span>               
            </div>
            
            <!--Adjustment Value-->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style='padding-left: 0px; padding-right: 0px;'>
                <span class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-hide='$index == 0 || $index == 4 || $index == 5'>$</span>
                <input  type="text" 
                        class="col-xs-5 col-sm-5 col-md-5 col-lg-5" 
                        style='padding-left: 0px; padding-right: 0px;'
                        ng-model='line.adjustment'
                        ng-blur='vm.adjustmentUpdate("payments", $index)'
                        ng-hide='$index == 0 || $index == 4 || $index == 5'>
                <span ng-show='$index == 0 || $index == 5'>{{line.adjustment | currency:"$"}}</span>
            </div>

            <!--Actual-->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <strong ng-if='line.bold' >
                    {{line.actual / 100 | currency:"$"}}
                </strong>
                <span ng-if='!line.bold'>
                    {{line.actual / 100 | currency:"$"}}
                </span>               
            </div>

        </div>

        <!--Transactions-->
        <div class="row">
            <h4>Transactions</h4>

            <!--Table header-->
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>#</strong></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><strong>Time</strong></div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>Sale</strong></div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>Tip</strong></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><strong>Type</strong></div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><strong>Order</strong></div>
            </div>

            <!--Table Data-->
            <div class="row" ng-repeat='tx in vm.activeTxs track by $index'>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{$index + 1}}</div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{tx.created_at | date:"shortTime"}}</div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{tx.gross_sales_money.amount / 100 | currency:"$"}}</div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{tx.tip_money.amount / 100 | currency:"$"}}</div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{vm.typeDisplay(tx.tender)}}</div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <ul>
                        <li ng-repeat='order in vm.orderDisply(tx.itemizations) track by $index'>
                            {{order}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!--DataLists-->
<datalist name="hrSelector" id="hrSelector">
    <option ng-repeat="hr in ['01','02','03','04','05','06','07','08','09','10','11','12'] track by $index"
            style='font-size: 12pt'
            ng-click=''>
            {{hr}}
    </option>
</datalist>
</div>