body {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

footer {
    display: block;
    list-style: none;
}

.section-black {
    background-color: gray;
}

.section-beige {
    background-color: beige;
}

*:after, *:before {
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: inherit;
}
.wrapper::after {
    clear: both;
    content: "";
    display: table;
}