
#single-product .mainPanel {
    width: 61%;
    padding-right: 36px;
    position: relative;
    display: inline-block;
}

#single-product .rightPanel {
    width: 38%;
    padding-right: 36px;
    position: relative;
    display: inline-block;
}

@media (max-width: 900px) {
    #single-product .mainPanel {
        width: 100%;
        display: block;
    }

    #single-product .rightPanel {
        width: 100%;
        display: block;
    }
}